<!DOCTYPE html>

<!--=========================================
* Ultimate Video Game Database
* Final Project for CIS 408
* Developed by Spencer Gang & John Liggett
=============================================-->

<html lang="en">

<head>
    <title>Error 404 | Ultimate Video Game Database</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/404.css"/>
</head>

<body>
    <div class="container-fluid">
        <div class="text-center vertical-center">
            <h1 class="text-center"><b>404</b> Not Found</h1>
            <p>The requested URL <%= url %> was not found.</h3>
        </div>
    </div>
</body>

</html>

